.categoryFilters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.03);
}

.categoryButton {
    background-color: var(--color-light-gray);
    border: 1px solid var(--color-light-gray);
    color: var(--color-medium-gray);
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
}

.categoryButton:hover {
    background-color: var(--color-accent);
    color: var(--color-white);
    border-color: var(--color-accent);
    box-shadow: 0 4px 12px rgba(106, 142, 251, 0.2);
}

.categoryButton.active {
    background-color: var(--color-accent);
    color: var(--color-white);
    border-color: var(--color-accent);
    box-shadow: 0 2px 8px rgba(106, 142, 251, 0.2);
}

.categoryScrollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    color: var(--color-medium-gray);
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.categoryScrollButton:hover {
    background-color: var(--color-light-gray);
    color: var(--color-dark-gray);
}