@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* globals.css */
:root {
    --color-white: #FFFFFF;
    --color-light-gray: #F0F0F0;
    --color-medium-gray: #666666;
    --color-dark-gray: #333333;
    --color-accent: #6A8EFB;
    --color-accent-dark: #557CD9;
    --color-donate-pink: #FF69B4;
    --color-donate-pink-dark: #E05CA1;
    --color-text-light: #999999;
    --primary-color: #4a90e2;
    --secondary-color: #f0f4f8;
    --text-color-dark: #333333;
    --text-color-light: #666666;
    --border-color: #e0e0e0;
    --shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Base Styles */
* {
  box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-light-gray);
    color: var(--color-dark-gray);
    line-height: 1.6;
    margin: 0!important;
    height: 100%;
    background: #f0f0f0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.container-flex {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.main-header {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-light-gray);
  padding: 7px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 14px rgba(0,0,0,0.05);
}

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-wrapper {
    display: flex;
    padding-top: 20px;
}

.main-content {
    flex-grow: 1;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: var(--color-accent);
}

a:hover {
    color: var(--color-accent-dark);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-dark-gray);
    margin-top: 0;
    font-weight: 600;
}

p {
    margin-bottom: 1em;
}

@keyframes fadeInSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .main-content {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
    .main-header .container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }
    .container-flex {
        padding-left: 10px;
        padding-right: 10px;
    }

    .main-nav {
        display: none;
    }

    .page-wrapper {
        flex-direction: column;
        padding-top: 15px;
    }

    .main-content {
        margin-left: 0;
        padding: 0px;
    }
}
