@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html, body {
  margin: 0!important;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: #f0f0f0;
  background-color: #f0f0f0;
}

#__next,
body {
  height: 100%;
  background: #f0f0f0;
  margin: 0px !important;
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* globals.css */
:root {
    --color-white: #FFFFFF;
    --color-light-gray: #F0F0F0;
    --color-medium-gray: #666666;
    --color-dark-gray: #333333;
    --color-accent: #6A8EFB;
    --color-accent-dark: #557CD9;
    --color-donate-pink: #FF69B4;
    --color-donate-pink-dark: #E05CA1;
    --color-text-light: #999999;
}
