.infoBanner {
  position: relative; /* instead of fixed */
  width: 100%;
  background: linear-gradient(148deg, rgba(158, 182, 255, 1) 0%, rgba(44, 98, 222, 1) 100%);
  color: #ffffff;
  font-size: 14px;
  padding: 10px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  text-align: center;
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeInSlide 0.3s ease-out forwards;
  display: flex;
  justify-content: space-evenly;
}


@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.infoBannerText {
  font-weight: 500;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: inherit;
}

.closeBtn:hover {
  opacity: 0.6;
}
