.header {
  background-color: var(--card-background);
  padding: 0.8rem 2rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
  margin-right: 1rem;
  color: inherit;
}

.logoImg {
  height: 40px;
  width: auto;
}

.searchBarContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
}

.searchInput {
  flex-grow: 1;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 0.5rem;
  background: var(--hover-card);
  color: var(--text-color);
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  color: inherit;
}

.rightIcons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  color: inherit;
}

.userProfileImg {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  object-fit: cover;
  cursor: pointer;
}