name:
    build-tauri-linux
on:
    pull_request:
        types:
            opened
        branches:
            main
permissions:
    contents: read
jobs:
    build:
        name: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v4
              with:
                node-version: latest
            - uses: actions-rs/toolchain@v1
            - name: install dependencies
              run: |
                sudo apt-get update
                sudo apt-get install -y libgtk-3-dev webkit2gtk-4.0 libappindicator3-dev librsvg2-dev patchelf
            - uses: JonasKruckenberg/tauri-build@v1
              id: tauri_build

            - uses: actions/upload-artifact@v4
              with:
                name: artifacts
                path: "${{ join(fromJSON(steps.tauri_build.outputs.artifacts), '\n') }}"
